<!DOCTYPE html>

<html>
    {{>head}}
    <body>
        {{>header}}
        <div id="result">
            <div id="name"></div>
            <div id="temp"></div>
            <div id="perci"></div>
            <div id="summary"></div>
        </div>

        <form>
            <input placeholder="Type in your location">
            <button>Search</button>
        </form>
        {{>footer}}

    </body>
</html>